<div class="beers">
  <h1>Beers</h1>
  <div class="beer-list">
    {{#each beers}}
     <img src="{{image_url}}" alt="beer" style="width: 50px;">
     <p>{{name}}</p>
     <p>{{description}}</p>
     <p>{{tagline}}</p> 
    {{/each}}
  </div>
</div>