{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

<div id = 'beer-img'>
  <img src="images/beer.png" style="width: 25rem; padding: 2rem">
</div>

<div id = 'buttons'>
 <button
      type='button'
      class='btn btn-primary resize shadow'
      style=' height:50px;width:200px;'
    >
      <a href='beers' class='text-light font-weight-bold'>Check the Beers!</a></button>


     <button
      type='button'
      class='btn btn-primary resize shadow'
      style=' height:50px;width:200px;'
    >
      <a href='random-beer' class='text-light font-weight-bold'>Check a random beer!</a></button>
</div>

