<div class = 'random-beer'>
    {{#each randomBeer}}
      {{> beerpartial}}
      <p><b>Food Pairing:</b>{{#each food_pairing}}</p>
            <ul>
                <li>{{this}}</li>
            </ul> 
        {{/each}}
        <p><b>Brewers Tips: </b>{{brewers_tips}}</p>


    {{/each}}
</div>









